__pycache__/
mod/Detection/__pycache__/
mod/Recognition/__pycache__/
mod/__pycache__/
mod/carDetection/__pycache__/
tf_graphs/
index.js
index.html
package.json
package-lock.json
node_modules/
DVR/
DVR_old.py
dataset/*
mod/shape_predictor_5_face_landmarks.dat
*.png
*.jpg
*.pb
*.pickle
originFace.png
tmp_fs_dvr_store
.sublime-*
*.sublime-*
yolov3.*
.DS_Store
.idea/
modules/object_detector/data/darknet_weights/yolov3.ckpt.meta
modules/object_detector/data/darknet_weights/yolov3.ckpt.data-00000-of-00001
modules/face_identification/train_dir/*
modules/face_identification/model-weights/YOLO_Face.h5
modules/face_identification/face_model.pkl
modules/face_identification/fer2013_mini_XCEPTION.46-0.82.hdf5
